+b.SECTION.b-appointment.row
    +e.container.container
        +e.imgs
            +e.img-wrpr_1
                +e.IMG(src="/images/b-appointment/calendar.png").calendar
            +e.img-wrpr_2
            
        +e.main
            +e.title
                h3 Я хочу записаться
            +e.btns
                +e.A(href="#").btn1.btn_white На лечение
                +e.A(href="#").btn2.btn_white На обучение
                