+b.SECTION.c-news-row.row
    +b.c-news-cnt.cnt
        +b.c-news-filters
            +e.calendar
                +e.INPUT(type='text', value="07/03/2019", id="js-news-datepicker").input.input_type-text._wide
            +e.links
                a(href="#") Месяц
                a(href="#").is-active Неделя
            
            
            
        +b.c-news_main
            
            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-2.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Состоялся курс первичного обучения «Ботулинотерапия в клинической практике»'
            include ./../../blocks/b-news-item/i
            
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            
            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-2.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Состоялся курс первичного обучения «Ботулинотерапия в клинической практике»'
            include ./../../blocks/b-news-item/i
            
            
            