.c-footer {
    background-color: $cRed;
    margin-top: auto;
    
    &__cnt {
        @include d-flex;
        align-items: center;
        justify-content: space-between;
        @include ptb(35);
    }
    &__copyrights {
        margin-right: 10px;
        color: white;
        font-size: 0.85em;
    }
    
    &__phone-link {
        margin-left: 10px;
        font-size: 1.5em;
        font-weight: 500;
    }
    
}