+b.SECTION.b-first.row
    +e.container.container
        +e.title
            p.uppercase
                b Здоровье #[br]
                | Начинается здесь
        +e.desc
            p Neiro.Clinic — это портал быстрой онлайн-записи на прием #[br]
            |в медицинские учреждения и на образовательные программы #[br]
            |для специалистов и родителей.
        
        +e.ext-info
            +e.ext-info-logo
                img(src="images/b-first/logo.png")
            +e.ext-info-text
                p ДАЛЬНЕВОСТОЧНЫЙ #[br]
                |НАУЧНО-ПРАКТИЧЕСКИЙ ЦЕНТР #[br]
                |БОТУЛИНОТЕРАПИИ