.b-course-purchase {
    position: relative;
    padding: 5px;
    overflow: hidden;
    &.block{
        padding: 0;
        width: 100%;
    }
    
    &-row{
        background-color: $cPeaches;
        &_question{
            padding-top: 25px;
        }
        
        @media (max-width: 600px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &-cnt{
        padding-bottom: 30px;
    }
    
    
    &-form {
        @include d-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        &_q{
            @media (max-width: 900px) {
                justify-content: space-between;
            }
        }
        &__item_qestion{
            max-width: 950px !important;
        }
    }
    &-form__item {
        width: 30%;
//        max-width: 300px;
//        margin-bottom: 12px;
        flex-grow: 1;
        margin: 10px 7px;
        @include d-flex;
        flex-direction: column;
        justify-content: flex-end;
        
        @media (max-width: 800px) {
            width: 40%;
        }
        @media (max-width: 600px) {
            width: 100%;
            margin: 10px 0;
        }
        
        
        &_col-1-2{
            width: 45%;
            max-width: 500px;
            @media (max-width: 900px){
                width: 100%;
            }
        }
        &_col-1-1{
            width: 100%;
            max-width: 900px;
        }
        
        &_hidden{
            display: none !important;
        }
    }
    &-form__label {
        margin-bottom: 7px;
    }
    &-form__input {
        &_submit{
            +.ajax-loader{ display: none !important; }
        }
    }
    
    &__loader, &__on-complete, &__on-error{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.55);
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: 200ms ease-in-out;
        &.active{
            visibility: visible;
            opacity: 1;
        }
        +.wpcf7-response-output{
            display: none !important;
        }
    }
    
    &__loader{
        z-index: 10;
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            @include mask('../img/loader.svg');
            background-color: $cRed3;
            -webkit-animation: spin 1s ease-in-out infinite;
            animation: spin 1s ease-in-out infinite;
            
        }
    }
    &__on-complete, &__on-error{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.75);
        font-size: 1.2em;
    }
    &__on-complete{
        z-index: 11;
    }
    &__on-error{
        z-index: 12;
        background-color:  transparentize($cRed3, 0.1);
        color: white;
    }
    &__on-complete-message, &__on-error-message{
        margin: 15px;
        text-align: center;
        max-width: 700px;
    }
    
    &__on-error{}
    
    .ajax-loader, .wpcf7-response-output{
        display: none !important;
    }
}