+b.b-course-purchase-row.row
    +b.b-course-purchase-cnt.cnt
        +b.H3.t-section-title_center._c-inherit Купить курс
        
        +b.b-course-purchase
            +b.FORM.b-course-purchase-form
                +e.item
                    +e.label Фамилия
                    +e.INPUT(type="text").input.input_type-text._grey-border._wide
                    
                +e.item
                    +e.label Имя
                    +e.INPUT(type="text").input.input_type-text._grey-border._wide
                    
                +e.item
                    +e.label Отчество (при наличии)
                    +e.INPUT(type="text").input.input_type-text._grey-border._wide
                    
                +e.item
                    +e.label Телефон
                    +e.INPUT(type="text").input.input_type-text._grey-border._wide
                    
                +e.item
                    +e.label Почта
                    +e.INPUT(type="text").input.input_type-text._grey-border._wide
                    
                +e.item_submit
                    +e.BUTTON(type="submit").input_submit.btn_red._full-width К оплате
                    
                
                
            
        