+b.b-index-author-list-row.row
    -var titleText = 'Клиники и учреждения'
    -var btnText = 'См. все'
    include ../b-cnt-title-and-btn/i
    +b.b-index-author-list-cnt.cnt
        +b.b-index-author-list
            -var authorPhoto = '/images/b-author/p-2.png'
            -var authorName = 'Институт профессионального образования'
            include ../b-author/i
            -var authorName = 'Образовательный центр «Каменный город»'
            include ../b-author/i
            -var authorName = 'Медицинский университет инноваций и развития'
            include ../b-author/i
            -var authorName = 'Институт профессионального образования'
            include ../b-author/i
            -var authorName = 'Образовательный центр «Каменный город»'
            include ../b-author/i
            -var authorName = 'Медицинский университет инноваций и развития'
            include ../b-author/i
                
            