+b.b-index-author-list-row.row
    -var titleText = 'Специалисты'
    -var btnText = 'См. все'
    include ../b-cnt-title-and-btn/i
    
    +b.b-index-author-list-cnt.cnt
        +b.b-index-author-list
            -var authorPhoto = '/images/b-author/p-1.png'
            -var authorName = 'Сидоров Е.Н.'
            -var authorDesc = 'Педиатр'
            include ../b-author/i
                
            -var authorName = 'Петров П.Р.'
            -var authorDesc = 'невролог, мануальный  терапевт, остеопат (D.O.)'
            include ../b-author/i
                
            -var authorName = 'Жуковская Н.Е.'
            -var authorDesc = 'врач функциональной  диагностики'
            include ../b-author/i
                
            -var authorName = 'Сидоров Е.Н.'
            -var authorDesc = 'Педиатр'
            include ../b-author/i
                
            -var authorName = 'Петров П.Р.'
            -var authorDesc = 'невролог, мануальный  терапевт, остеопат (D.O.)'
            include ../b-author/i
                
            -var authorName = 'Жуковская Н.Е.'
            -var authorDesc = 'врач функциональной  диагностики'
            include ../b-author/i
                
                
            