.b-big-slider-item {
    height: 580px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    color: $cRed3;
    &_n1{
        background-image: url('/images/b-big-slider/s-1.jpg');
    }
    &_n2{
        background-image: url('/images/b-big-slider/s-2.jpg');
    }
    &_n3{
        background-image: url('/images/b-big-slider/s-3.jpg');
    }
    
    
    &__text{
        max-width: 600px;
        padding: 20px;
    }
    &__title {
        font-size: 3.5em;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__desc {
        font-size: 1.5em;
    }
}

.b-big-slider{
    width: 100vw;
    overflow: hidden;
    position: relative;
    .owl-item{
        float: left;    
    }
}

.owl-nav{
    button{
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 63px;
//        background: rgba(0,0,0, 0.4);
        color: transparent;
        background-color: transparent;
        
        @media (max-width: 1100px){
            width: 45px;
        }
        span{
            display: block;
            width: 100%;
            height: 66px;
            background-image: url('../img/owl-slider-arrow.png');
            background-color: rgba(250, 185, 157, 0.15);
            background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }
    }
    .owl-prev{
        left: calc( 50vw - 480px - 85px );
        @media (max-width: 1100px) {
            left: 0;
        }
//        left: 0;
        
        
    }
    .owl-next{
        right: calc( 50vw - 480px - 85px );
        @media (max-width: 1100px) {
            right: 0px;
        }
        span{ transform: rotate(180deg); }
    }
}