+b.b-single-header-event-info
    if !isEvent2
        +e.H2.title Первая #[br]помощь

        +e.desc
            p Для родителей
    else
        +e.H2.title Конный клуб #[br]"Арагон"

        +e.desc
            p Для детей