+b.b-single-header-news-info
    +e.excerpt
        p   Визит Ильи Викторовича 
            |Фальковского, главного врача
            |ООО «Нейроклиника», 
            |в Первую городскую  больницу
            |г. Харбина, КНР