+b.b-single-header-doctor-info
    +e.name 
        p Иванов Иван Иванович
    +e.specs
        p Невролог, мануальный терапевт, остеопат
    +e.desc
        p
            | #[b Образование:] Хабаровский государственный медицинский институт  #[br]
            | #[b Стаж работы:] 31 год #[br]
            | #[b Обучение:] мануальная терапия, остеопатия, ботулинотерапия, кинезиотейпирование. #[br]
            | #[b Специализация:] вертебрология, миофасциальные синдромы, боль острая и хроническая, туннельные синдромы, ботулинотерапия, ДЦП, пазеры, параличи, наблюдение и ведение пациентов с баклофеновой помпой и DBS стимуляторами. Участие в клинических исследованиях.
        