+b.b-single-header-clinic-info
    +e.A(href="#").link
        +e.IMG(src="/images/b-single-header/logo.png").logo
        
        +e.A(href="#").reg-appointment.inherit Записаться на прием
        +e.A(href="#").reg-healing.btn_red На лечение