.b-single-header-row {}
.b-single-header {
    @include d-flex;
    max-height: 515px;
    align-items: stretch;
    &__left {
        width: calc( 50vw - 480px + 400px );
        @include flex-no-resize;
        @include d-flex;
        justify-content: flex-end;
        background-color: white;
    }
    &__left-cnt {
        width: 400px;
        @include d-flex;
        align-items: center;
        padding: 35px 15px;
    }
    &__right {
        width: calc( 50vw - 480px + 560px );
        @include flex-no-resize;
        overflow: hidden;
    }
    &__right-cnt {
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    &-clinic-info {
        @include d-flex;
        flex-direction: column;
        align-items: center;
        &__link {}
        &__logo {}
        &__reg-healing{
            margin-top: 15px;
            padding-left: 3em;
            padding-right: 3em;
        }

        &__reg-appointment{
            font-size: 1.12em;
            margin-top: 70px;
        }
    }
    
    
}
