+b(class="b-single-header-row_"+modifier).row
    +b(class="b-single-header_"+modifier)
        +e(class="left_"+modifier)
            +e(class="left-cnt_"+modifier)
                if isClinic
                    include _info-clinic
                if isDoctor
                    include _info-doctor
                if isNews
                    include _info-news
                    
        +e(class="right_"+modifier)
            +e(class="right-cnt_"+modifier)
                if rightImgSrc
                    +e.IMG(src=""+ rightImgSrc).img
        
            