include m
+b.b-gallery-photo-row.row
    +b.b-gallery-photo-cnt.cnt
        +b.H2.t-section-title_center Фотогалерея
        +b.b-gallery-photo
            +b-gallery-photo-item('p-1.jpg')
            +b-gallery-photo-item('p-2.jpg')
            +b-gallery-photo-item('p-3.jpg')
            +b-gallery-photo-item('p-4.jpg')
            +b-gallery-photo-item('p-5.jpg')
            +b-gallery-photo-item('p-6.jpg')
    









