.header {
    background-color: white;
    position: relative;
    &.is-fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
    
    @media (max-width: 900px) {
        height: 70px;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    
    
    &__cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        transition: 400ms ease-in-out;
        
        @media (max-width: 900px) {
            position: absolute;
            z-index: 20;
            background-color: white;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 20px;
            top: 70px;
            left: 0;
            border-top: solid 1px grey;
            transform: translateX(-100%);
            
            height: calc( 100vh - 70px );
            overflow-y: scroll;
            
            &.is-active{
                transform: translateX(0);
            }
        }
    }
    &__logo-link {
        display: block;
    }
    &__logo-img {}
    &__nav {
        margin-left: auto;
        margin-right: 40px;
        @media (max-width: 1150px){
            margin-right: 55px;
        }
        @media (max-width: 900px){
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
    }
    &__social {
        position: absolute;
        top: calc( 50% - 13px );
        right: 20px;
        @media (max-width: 1150px) {
            display: none;
        }
    }
}