//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.header.row
    +e.container.container
        include ../../blocks/b-logo-link/i
        //+e.A(href="/").logo-link_in-header
            +e.IMG(src="/assets/img/b-logo-link/logo.png").logo-img
        
        +e.nav
            include ../../blocks/b-nav/b-nav
            
        +e.social
            include ../../blocks/b-social/b-social