.b-header-search-social {
    display: block;
    position: absolute;
    background: white;
    right: 70px;
    top: 10px;
    z-index: 55;
    transition: 500ms ease-in-out;
    width: calc(100% - 250px);
    overflow: hidden;
    visibility: hidden;
    @media (max-width: 900px){
        position: relative;
        width: auto;
        visibility: visible;
        right: 0;
        top: 0;
    }

    &__viewport {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: 500ms ease-in-out;
        transform: translateX(100%);
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-end;
            transform: translateX(0);
        }
    }
    &.is-active{
        visibility: visible;
        .b-header-search-social__viewport{
            transform: translateX(0);
        }
    }
}


.b-header-search {
    flex-grow: 1;

    &__form-wrpr {
        width: 100%;
        padding: 10px;

        @media (max-width: 900px) {
            padding: 10px 0;
        }
    }

    &__form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__input {
        flex-grow: 1;
    }
}