.b-logo-link{
    display: block;
    width: 125px;
    height: 25px;
    background-color: #333333;
    
    @include mask('../img/b-logo-link/logo.svg');
    @include mask-repeat(no-repeat);
    @include mask-size(contain);
    @include mask-position(left center);
    
}