include m

+b.b-icon-links-row.row
    +b.b-icon-links-cnt.cnt
        +b.b-icon-links
            +b-icon-links('i-1', 'Запись на прием')
            +b-icon-links('i-5', 'Медицинские программы')
            +b-icon-links('i-2', 'Образовательные программы')
            +b-icon-links('i-3', 'Мероприятия нейроклиники')
            +b-icon-links('i-4', 'Новости')