doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Курсы')
    
    body
        
        include components/c-header/c-header
    
        -let breadcrumbs = ['Курсы'];
        include components/c-breadcrumbs/i
        
        -let pageTitle = 'Образовательные программы'
        -let showFilters = true
        -let filters = ['Для кого', 'Специальность', 'Тип программы', 'Календарь']
        
        include blocks/b-courses-header/i
        include blocks/b-sort-posts/i
        include blocks/b-courses/i
            
            //        include components/c-news/c-news
        
        
        
        //        - var modifier = '_in-index'
        //        - var show_more_btn = true
        //        include components/index-videos/index.pug
        
        include components/c-footer/c-footer
        include parts/_footer-scripts
        
        script.
            jQuery(function($) {});
  
  
    