doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Главная')
    
    body
        
        include components/c-header/c-header
        
        include blocks/b-big-slider/i
        include blocks/b-icon-links/i

        
        
        //        include blocks/b-partners/b-partners
        //        include components/c-edu-programs/c-edu-programs
        //        include components/c-events/c-events
        //        include components/c-news/c-news
        
        //        - var modifier = '_in-index'
        //        - var show_more_btn = true
        //        include components/index-videos/index.pug
        
        include blocks/b-news-down/i
        include components/c-footer/c-footer
        include parts/_footer-scripts
        
        script.
            jQuery(function($) {});
  
  
    