doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Список страниц')
    
    body
        
        .page-list
            h3 Список страниц
            ul
                li
                    a(href="/main.html") main.html  
                li
                    a(href="/clinics.html") clinics.html
                li
                    a(href="/courses.html") courses.html
                li
                    a(href="/news.html") news.html
                li
                    a(href="/healing.html") healing.html
                li
                    a(href="/clinic-single.html") clinic-single.html
                li
                    a(href="/doctor-single.html") doctor-single.html
                li
                    a(href="/event.html") event.html
                li
                    a(href="/event2.html") event2.html
                li
                    a(href="/news-single.html") news-single.html

                
        
        script.
            jQuery(function($) {});
  
  
