.b-courses-header {
    @include ptb(30);
    &-row{
        background-color: rgba(250, 185, 157, 1);
    }
    &__title {
        text-align: center;
        color: $cRed;
    }
    &__form-wrpr {
        max-width: 780px;
        @include to-center;
        margin-top: 20px;
        margin-bottom: 20px;
        .b-search-form__input{
            flex-grow: 1;
        }
        .b-search-form__submit{
            padding-left: 3em;
            padding-right: 3em;
        }
    }
    &__filters {
        max-width: 640px;
        @include to-center;
        @include d-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 650px) {
            justify-content: space-around;
        }
    }
    &__filter-link {
        color: inherit;
        text-decoration: none;    
    }
}