.b-partners {
    &__title {
        text-align: center;
    }
    &__desc {
        text-align: center;
    }
    
    &__btn-wrpr {
        text-align: center;
    }
    &__btn {
    }
    
    .b-clinic-logo-row{
        background-color: transparent;
    }
}