+b.SECTION.b-partners-row.row
    +b.b-partners-cnt.cnt
        +b.b-partners
            +e.H3.title Партнеры
            +e.desc
                p Вы можете записаться на прием в партнерскую медицинскую организацию, оставить заявку на получение финансирования диагностики, лечения и реабилитации тяжёлых и редких заболеваний
            
            include ../b-clinics-logo/i

            +e.btn-wrpr
                +e.A(href="#").btn.btn_red Все клиники