.b-social {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    
    &__item {
        margin: 0 4px;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        color: transparent;
        width: 26px;
        height: 25px;
        background-image: url(../img/b-social/icons-2.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto;
        &_fb{
            background-position: -34px 0;
        }
        &_youtube{
            background-position: -69px 0;
        }
        &_insta{
            background-position: -104px 0;
        }
        &:hover{
            transform: scale(1.15);
        }
        
    }
}