include mixins.pug

+b.UL.b-social
    +e.LI.item
        +b-social-item('/', 'vk', 'vk')
    +e.LI.item
        +b-social-item('/', 'fb', 'fb')
    +e.LI.item
        +b-social-item('/', 'youtube', 'youtube')
    +e.LI.item
        +b-social-item('/', 'insta', 'insta')