.b-cnt-title-and-btn-cnt {
    @include d-flex;
    justify-content: space-between;
    align-items: center;
    &__title-wrpr {
    }
    &__title {
        border-bottom: solid 4px currentColor;
        padding-bottom: 3px;
    }
    &__more {
        width: 180px;
    }
    
}