+b.b-course-about-row.row
    +b.b-course-about-cnt.cnt
        if !isEvent2
            +b.H3.t-section-title_center._c-inherit О программе
        
        if isEvent2
        div.m-2-0.ta-center
            p Здесь дети с родителями могут научиться общаться с животными #[br](гладить их, кормить) и попробовать себя в роли ковбоев, прокатившись #[br]по кругу на лошади в крытом манеже 
        
        +b.b-course-about
            +e.data
                +e.data-row
                    span.label Для кого
                    span.info родители
                +e.data-row
                    span.label Форма обучения
                    span.info группа выходного дня
                +e.data-row
                    span.label Дата
                    span.info 1 июня среда
                +e.data-row
                    span.label Стоимость
                    span.info 500 руб
                +e.data-row
                    span.label Длительность
                    span.info 2 дня (16 академических часов)
            
            +e.text-desc
                p Обучение граждан приемам оказания первой помощи при несчастных случаях, а так же при обострениях различных заболеваний в быту, на работе, в школе, на отдыхе и в других местах. В ходе проведения курса слушатели овладеют теорией и практическим навыком: правильно анализировать обстановку и не теряться при ЧС; распознавать неотложные состояния пострадавших; оказывать первую помощь при обострении различных заболеваний, при травмах и кровотечении; проводить сердечно-легочную реанимацию; осуществлять транспортировку пострадавших.
            
            +b.H3.t-section-title_center._c-inherit.mt-0 Место проведения
            
            +e.data
                +e.data-row
                    span г. Хабаровск, Лермонтова, д.3