.b-simple{
    &-row{
    }
    &-cnt {
        text-align: justify;
        padding-top: 25px;
        padding-bottom: 70px;
    }
    .t-section-title_center {
    }
    .b-simple {
    }
    p {
    }
}