include m
+b.b-clinic-logo-row.row
    +b.b-clinic-logo-cnt.cnt
        +b.b-clinic-logo
            +b-clinic-logo('logo-1.png')
            +b-clinic-logo('logo-2.png')
            +b-clinic-logo('logo-3.png')
            +b-clinic-logo('logo-4.png')
            +b-clinic-logo('logo-5.png')
            +b-clinic-logo('logo-6.png')
        
        