+b.b-edu-sml_t-1
    +e.photo-wrpr_has-img
        +e.IMG(src="/images/b-edu-sml/bg.jpg").photo
    +e.author
        -var authorPhoto = '/images/b-author/p-2.png'
        -var authorName = 'Медицинский университет инноваций и развития'
        include ../b-author/i
    +e.for
        p Для специалистов
    +e.A(href="#").title
        p Лечебная физкультура (ЛФК) и спортивная медицина
        
+b.b-edu-sml_t-2
    +e.author-photo-wrpr
        +e.IMG(src="/images/b-edu-sml/photo.jpg").author_photo
    +e.info
        +e.author
            +e.author-name
                p Жуковская Н.Е.
            +e.author-job
                p врач функциональной диагностики
        
        +e.A(href="#").title_t-2
            p ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА ВОСПАЛИТЕЛЬНЫХ ПРОЦЕССОВ В МИОКАРДЕ
    