+b.SECTION.b-intro.row
        // +e.OBJECT( type="image/svg+xml", data="/images/icon-sprite.svg").sprite
        +e.item_l
            +e.IMG(src='/images/b-intro/intro-bg-1.jpg').bg-image
            +e.bg-color
            +e.item-inner
                +e.title
                    +e.I.title-icon-cnt
                        +e.SVG.title-icon
                            USE(xlink:href="/images/icon-sprite.svg#i-2")
                            
                    +e.SPAN.title-text Запись #[br]на прием
                +e.desc
                    p Neiro.Clinic — это портал быстрой онлайн-записи 
                    | на прием в медицинские учреждения 
                    | и на образовательные программы
                    | для специалистов и родителей.
                +e.btn-wrpr
                    +e.A(href="#").btn.btn_brd-white Перейти в раздел



        +e.item_r
            +e.IMG(src='/images/b-intro/intro-bg-2.jpg').bg-image
            +e.bg-color
            +e.item-inner
                +e.title
                    +e.I.title-icon-cnt
                        +e.SVG.title-icon
                            USE(xlink:href="/images/icon-sprite.svg#i-1")
                    +e.SPAN.title-text Образовательные #[br]программы
                +e.desc 
                    p На базе Научно-практического цетра 
                    | мы организуем курсы, семинары и тренинги для специалистов и для родителей. 
                +e.btn-wrpr
                    +e.A(href="#").btn.btn_brd-white Перейти в раздел
                    
                    
        
        
            
            