.b-faq{
    
    &-list-post-content{
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    
    &-item{
        &__q{}
        &__q-inner{}
        
        &__a{
//            max-height: 0;
//            overflow: hidden;
//            transition: 500ms ease-in-out;
            &_opened{
//                max-height: 9999999px;
            }
        }
        &__a-inner{
//            padding: 10px;
        }
    }
    
    
    
    &__form{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 950px;
        justify-content: space-between;
        margin: 35px auto 0;
        
        .b-course-purchase-form__item{}
        .wpcf7-response-output{
            display: none !important;
        }
        .ajax-loader{
            display: none !important;
        }
    }
    
}


.b-faq-form{
    &__title{
        text-align: center;
    }
}
.b-faq-form-row {
    padding: 35px 0;
    background-color: $cBeige;
    position: relative;
}
.b-faq-form-cnt {
        
}