.b-header-md-search-social {
    display: none;
    width: 100%;
    overflow: hidden;
    
    @media (max-width: 1280px) {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        z-index: 55;
        position: absolute;
        background-color: white;
        right: 65px;
        width: calc( 100% - 225px);
//        overflow: hidden;
//        opacity: 0;
        transition: 500ms ease-in-out;
        max-width: 0;
        overflow: hidden;
        &.is-active{
//            opacity: 1;
//            visibility: visible;
            max-width: 100%;
        }
    }
    @media (max-width: 1150px ) and (min-width: 900px ){
        max-height: 0;
        transition: 300ms ease-in-out;
        &.is-active{
            max-height: 1000px;
        }
    }
    @media (max-width: 900px){
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        top: 0;
    }
}