+b.b-news-slider-row.row
    +b.H2.t-section-title_center Новости
        
    +b.b-news-slider.js-news-slider

            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-2.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Состоялся курс первичного обучения «Ботулинотерапия в клинической практике»'
            include ./../../blocks/b-news-item/i
            
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            
            -var itemImgSrc = '/images/b-news-item/p-1.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Новогодний праздник для особенных детей'
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = false
            -var itemDate = '25/03/2019'
            -var itemText = 'Визит Ильи Викторовича Фальковского, главного врача ООО «Нейроклиника» ,в Первую городскую больницу г. Харбина, КНР '
            include ./../../blocks/b-news-item/i
            
            -var itemImgSrc = '/images/b-news-item/p-2.jpg'
            -var itemDate = '25/03/2019'
            -var itemText = 'Состоялся курс первичного обучения «Ботулинотерапия в клинической практике»'
            include ./../../blocks/b-news-item/i