.b-news-item {
    width: 300px;
    height: 200px;
    position: relative;
    margin: 0px 15px 20px 15px;
    overflow: hidden;
    &:hover{
        .b-news-item__img-wrpr{
            transform: scale(1.15);
        }
    }
    &_in-slider{
        margin: 0;
        float: left;
    }
    @media (min-width: 1000px) {
        &:nth-child(3n+1){
            margin-left: 0;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
    }
    
    


    &__img-wrpr {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        transition: 450ms ease-in-out;
        
        &_has-img{
            background-color: #333;
        }
        
        &_has-no-img{
            @include grad;
        }
    }
    &__img {
        opacity: 0.6;
        @include img-cover;
    }
    &__info {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 0;
        top: 0;
        @include d-flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        
        padding: 15px 15px 10px;
    }
    &__date {
    }
    &__link {
        color: inherit;
        text-decoration: none;    
        font-size: 1.12em;
        font-weight: 500;
        color: inherit;
//        color: $cRed;
        letter-spacing: 0.02em;
    }
}