+b.b-news-item
    if itemImgSrc
        +e.img-wrpr_has-img
            +e.IMG(src=""+ itemImgSrc).img
    else
        +e.img-wrpr_has-no-img
            
    +e.info
        +e.date
            p!= itemDate 
        +e.A(href='#').link!= itemText