+b.A(style="background-image: url(/images/b-edu-big/bg.jpg)", href="#").b-edu-big
    +e.for
        p Для специалистов
    +e.title
        p Лечебная физкультура #[br](ЛФК) и спортивная #[br]медицина
    +e.desc
        p Обучение специалистов #[br]авторской методике
    