+b.b-courses-row.row
    +b.b-courses-cnt.cnt
        +b.b-courses
            -var authorName = "Иван Иванович Иванов"
            -var authorPhoto = '/images/b-author/p-1.png'
            -var itemImg = '/images/b-course-item/p-1.jpg'
            -var itemDesc = 'Лучевая диагностика в неврологии и нейрохирургии'
            -var itemDate = '30 сентября, воскресенье'
            -var itemPrice = '10 000 руб'
            -var itemPriceOld = '15 000 руб'
            -var itemTime = '3 дня'
            include ./../../blocks/b-course-item/i
            
            -var authorName = "Наша клиника"
            -var authorPhoto = '/images/b-author/p-2.png'
            -var itemImg = false
            -var itemDesc = 'Управление медицинским бизнесом'
            -var itemDate = '1 июня, среда'
            -var itemPrice = '600 000 руб'
            -var itemPriceOld = false
            -var itemTime = '22 месяца'
            include ./../../blocks/b-course-item/i
            
            -var authorName = "Иван Иванович Иванов"
            -var authorPhoto = '/images/b-author/p-1.png'
            -var itemImg = '/images/b-course-item/p-2.jpg'
            -var itemDesc = 'Консультирование  родителей. Детская  психотерапия'
            -var itemDate = '1 августа, суббота'
            -var itemPrice = '5 000 руб'
            -var itemPriceOld = false
            -var itemTime = '4 часа'
            include ./../../blocks/b-course-item/i