.b-page-header{
    &-row{
    }
    &-cnt{
        padding-top: 25px;
        padding-bottom: 35px;
    }
}
.b-page-header {
    text-align: center;
    &__title {
        color: $cRed2;
    }
    &__desc {
        margin-top: 10px;
        font-size: 1.5em;
    }
}