+b.b-author
    +e.photo-wrpr
        +e.IMG(src=""+ authorPhoto).photo
    +e.name-desc
        +e.name
            p!= authorName
        if authorDesc
            +e.desc
                p!= authorDesc