+b(class="b-sort-posts-row_"+ mod +" row")
    +b.b-sort-posts-cnt.cnt
        +b.b-sort-posts
            +e.price-wrpr
                +e.A(href="#").price 
                    i.tr-down
                    span Стоимость
            +e.time-wrpr
                +e.A(href="#").time
                    i.tr-down   
                    span Длительность