+b.b-sort-posts-row.row
    +b.b-sort-posts-cnt.cnt
        +b.b-sort-posts
            +e.price-wrpr
                +e.A(href="#").price 
                    i
                    span Стоимость
            +e.time-wrpr
                +e.A(href="#").time
                    i
                    span Длительность